{% extends 'base.html' %}
{% load static %}

{% block title %}Gem Arms{% endblock %}

{% block content %}
<style>
    .Arm_card{
        height: auto;
    }
</style>

<div id="Armcover">
    <div id="Armcovertext">
        <div id="Armcover-text">
            Join the Missions
        </div>
    </div>
    <div class="indicator-container mb-2"></div>
</div>

<!-- body -->
<section class="Arm ">
    <img class="Shield_Arm" src="{% static 'images/Shield 1.svg' %}" alt="">
    <div class="container mb-5 mt-3">
        <div class="Arm_text">
            <div class="d-flex  flex-column justify-content-center align-items-center mt-3">
                <h1 class="text-center mb-0">Welcome to Gem World</h1>
                <div class="rule d-flex align-items-center">
                    <div class="rule_blue my-4"></div>
                    <div class="rule_ash my-4"></div>
                </div>
                <p class="leading_text">Our mission is to equip people in excellence, and transform the world into a domain of excellence.
                    <br>
                    <span class="fw-bold">Be a part of the GEM World by joining any of the missions below.</span>
                </p>
            </div>

            <div>
                <div class="row align-items-center mt-3 g-3">
                    <!-- <div class="col-md-6 col-lg-4  d-flex justify-content-center">
                        <div class="Project_card mx-2 Arm_card" >
                            <img class="Project_card_img" src="{{ Bible_studies.picture }}" alt="">
                            <div class="Text_container d-flex flex-column justify-content-center align-items-center">
                                <h4 class="p-2 pt-3">{{ Bible_studies.Arm }}</h4>
                                <div class="Project_card_button">
                                    <a href="" class="btn btn-primary">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 d-flex justify-content-center">
                        <div class="Project_card mx-2 Arm_card">
                            <img class="Project_card_img" src="{{ Revival_Prayers.picture }}" alt="">
                            <div class="Text_container d-flex flex-column justify-content-center align-items-center">
                                <h4 class="p-2 pt-3">{{ Revival_Prayers.Arm }}</h4>
                                <div class="Project_card_button">
                                    <a href="" class="btn btn-primary">Read more</a>
                                </div>
                            </div>

                        </div>
                    </div> -->

                    <div class="col-md-6 col-lg-4 d-flex justify-content-center">
                        <div class="Project_card mx-2 Arm_card">
                            <img class="Project_card_img" src="{{ Foundations.picture }}" alt="">
                            <div class="Text_container d-flex flex-column justify-content-center align-items-center">
                                <h4 class="p-2 pt-3">{{ Foundations.Arm }}</h4>
                                <div class="Project_card_button">
                                    <a href="{% url 'Arms:Foundations' %}" class="btn btn-primary">Read more</a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 d-flex justify-content-center">
                        <div class="Project_card mx-2 Arm_card">
                            <img class="Project_card_img" src="{{ Women.picture }}" alt="">
                            <div class="Text_container d-flex flex-column justify-content-center align-items-center">
                                <h4 class="p-2 pt-3">{{ Women.Arm }}</h4>
                                <div class="Project_card_button">
                                    <a href="{% url 'Arms:Womens_Hub' %}" class="btn btn-primary">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4  d-flex justify-content-center">
                        <div class="Project_card mx-2 Arm_card" >
                            <img class="Project_card_img" src="{{ Partners.picture }}" alt="">
                            <div class="Text_container d-flex flex-column justify-content-center align-items-center">
                                <h4 class="p-2 pt-3">{{ Partners.Arm }}</h4>
                                <div class="Project_card_button">
                                    <a href="{% url 'Payment:initiate' %}" class="btn btn-primary">Read more</a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>



<script>
    // Array of image URLs
    // For it to show in development just use only " url('static/images/Team Background.jpg)"
    var imageUrls = [
        'url("https://gemwebbucket.s3.amazonaws.com/static/images/Team Background.jpg")',
        'url("https://gemwebbucket.s3.amazonaws.com/static/images/People_praying.jpg")',
        'url("https://gemwebbucket.s3.amazonaws.com/static/images/istockphoto-514558113-612x612.jpg")',
    ];

    var currentIndex = 0;
    var armCoverElement = document.getElementById('Armcover');
    var indicatorContainer = document.querySelector('.indicator-container');
    var indicators = [];

    function createIndicators() {
        for (var i = 0; i < imageUrls.length; i++) {
            var indicator = document.createElement('span');
            indicator.className = 'indicator';
            indicator.addEventListener('click', function (index) {
                return function () {
                    currentIndex = index;
                    changeBackground();
                };
            }(i));

            indicators.push(indicator);
            indicatorContainer.appendChild(indicator);
        }
    }


    function changeBackground() {
        currentIndex = (currentIndex + 1) % imageUrls.length;
        armCoverElement.style.backgroundImage = imageUrls[currentIndex];

        // Update indicators
        for (var i = 0; i < indicators.length; i++) {
            if (i === currentIndex) {
                indicators[i].classList.add('active');
            } else {
                indicators[i].classList.remove('active');
            }
        }
    }

    function initializeSlideshow() {
        createIndicators();
        changeBackground();

        // Change background every 3 seconds (adjust as needed)
        setInterval(changeBackground, 3000);
    }

    initializeSlideshow();
</script>
{% endblock %}