{% extends 'base.html' %}
{% load static %}
{% block title %}Gem Arms{% endblock %}
{% block content %}

<div id="Armdetailcover">
    <div id="Armdetailcovertext">
        <div id="Armdetailcover-text">
            {{ arm.Arm }}
        </div>
        <p class="px-2">
            Powering Revival in our Lives, Nation, and World.
        </p>
    </div>
</div>
<div class="container d-flex flex-column align-items-center">
    <h1 class="mt-2 text-center text-md-start">Welcome to GEM {{ arm.Arm }}</h1>
    <div class="rule d-flex align-items-center justify-content-center mb-4">
        <div class="rule_blue"></div>
        <div class="rule_ash"></div>
    </div>
    <span class="display:block"><i>bringing Revival and Restoration</i></span>
    <p class="leading_text">
        Our Vision is to see people, nations, and the world revived and retored by the presence and power of God.
    </p>

    <!-- Vision, Mission and Task -->
    <div class="row justify-content-evenly mb-5 mt-2 align-items-center">
        <div class="col-md d-flex justify-content-center">
            <div>
                <img src="{{ arm.picture }}" alt="" class="img-fluid img-thumbnail" style="width: 100%;object-fit: cover;">
                <div class="p-4 mt-4" style="border: 1.5px solid #ccc; border-radius: 10px;">
                    <h3 class="fw-bold"><i class="fa-sharp fa-solid fa-circle-check me-2 h5"></i> Our Motivating Belief
                    </h3>
                    Prayer is essential to fulfilling the Kingdom purpose of intimacy, glory, and dominion.
                    <div class="ps-3">
                        <span class="fw-bold">Jesus said –</span> Men always ought to pray and not lose heart (Luke
                        18:1).<br>
                        <span class="fw-bold">Paul said –</span> Pray without ceasing (1 Thessalonians 5:17). <br>
                        <span class="fw-bold">James said –</span> The earnest, heartfelt, continued, prayer of a righteous
                        man makes tremendous
                        power available, dynamic in its working (James 5:16b AMPC).
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md ps-md-5 d-flex justify-content-center">
            <div>
                <div class="bg-light p-4 my-3 shadow-sm row justify-content-center align-items-center" style="border-left: 5px solid #18ADE5; border-radius: 20px;">
                    <div class="col-md d-flex justify-content-center">
                        <img src="{{ Revival_Prayers_event.picture }}" alt="" class="img-fluid w-75 shadow-sm">
                    </div>      
                    <div class="col-md">
                        <div class="text-center text-md-start mt-2 mt-md-0" style="font-size: 45px;font-weight: 600; margin-bottom: 0;">{{ Revival_Prayers_event.Time }}</div>
                        <div class="text-center text-md-start" class="mb-2">( Est Toronto )</div>
                        <div class="text-center text-md-start"><span class="fw-bold">Zoom id:</span> {{ Revival_Prayers_event.Zoom_ID }}</div>
                        <div class="text-center text-md-start"><span class="fw-bold">Zoom Password:</span> {{ Revival_Prayers_event.Zoom_Password }}</div>
                    </div>
                </div>

                <div class="bg-light p-4 my-3 shadow-sm" style="border-left: 5px solid #ffc400; border-radius: 20px;">
                    <div>
                        <h3 class="fw-bold"> Goal </h3>
                        <p> To see <span class="fw-bold">Father’s will</span> done in us, in people and in nations.
                        </p>
                        <p> To see <span class="fw-bold">Jesus’ glory</span> revealed in us, in people and in nations.
                        </p>
                        <p> To see the <span class="fw-bold">Holy Spirit have His way</span> in us, in people and in
                            nations.
                        </p>
                        <p> To see <span class="fw-bold">People & Nations overwhelmed, revived, transformed, and
                                restored</span> by the presence
                            & power of God.
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="long_rule"></div>

    <div class="my-5">
        <h1 class="text-center fw-bold">Through Prayer</h1>
        <p class="text-center mb-4">We Connect, We Ignite, We Intercede, We Cause Changes.</p>
        <div class="row justify-content-evenly mt-4">

            <div class="col-md me-md-4 d-flex justify-content-center">
                <div class="bg-light p-4 my-3 shadow-sm" style="border-left: 5px solid #10e022; border-radius: 20px;">
                    <div>
                        <h5 class="fw-bold"> We Connect with God and We Ignite our Spirit through:
                        </h5>
                        <ul>
                            <li>Repentance by the blood of Jesus and the Spirit of God.</li>
                            <li>Thanksgiving, praise, & worship.</li>
                            <li>Acknowledgement of God’s divine nature in prayer.</li>
                            <li>Affirming our divine nature in prayer.</li>
                            <li>Affirming God’s will in prayer.</li>
                            <li>Speaking the language of the Spirit.</li>
                        </ul>
                        <br>
                        <h5 class="fw-bold"> We Intercede for Personal Revival, for People, Nations and the World.
                        </h5>
                        <ul>
                            <li> <span class="fw-bold fst-italic"> Interceding for</span> personal revival, for people,
                                groups, spheres, society, nations, and the world.</li>
                            <li> <span class="fw-bold fst-italic"> Interceding for</span> Kingdom revival and
                                restoration in the seven spheres of life.</li>
                            <li><span class="fw-bold fst-italic"> Interceding for</span> Kingdom revival and restoration
                                in the seven spheres of society.</li>
                            <li><span class="fw-bold fst-italic"> Interceding for</span> Kingdom revival and restoration
                                in the nations and the continents of the world.</li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md d-flex justify-content-center">
                <div>
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">S/N</th>
                                <th scope="col">Seven Spheres of Life to Pray Over</th>
                                <th scope="col">Seven Spheres of Society to Pray Over</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Spirit,</td>
                                <td>Religion/Faith,</td>

                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Soul,</td>
                                <td>Education, Science & Technology</td>

                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Body,</td>
                                <td>Healthcare & Hospitality</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>Life-path</td>
                                <td>Govt, Judiciary, & Law Enforcement</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>Lifestyle,</td>
                                <td>Sports, Entertainment, Culture & Arts</td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>Resources and</td>
                                <td>Economy, Business & Finance</td>
                            </tr>
                            <tr>
                                <th scope="row">7</th>
                                <td>Relationships.</td>
                                <td>Family, Community, & Relationship.</td>
                            </tr>
                        </tbody>
                    </table>
                    <img src="{% static 'images/Man Praying.jpg' %}" alt=""
                        class="img-fluid img-thumbnail mt-3 rounded shadow-sm"
                        style="width: 100%;height: 180px;object-fit: cover;">
                </div>

            </div>
        </div>
    </div>

</div>
<script>
    var armCoverbackground = document.getElementById('Armdetailcover');
    armCoverbackground.style.backgroundImage = 'url("https://gemwebbucket.s3.amazonaws.com/static/images/praying-for-wounded-hearts-to-be-healed-american-bible-society-prayer-blog2_2.jpg")'
</script>
{% endblock %}