{% extends 'base.html' %}
{% load static %}

{% block title %}Gem Arms{% endblock %}

{% block content %}
<div id="Armdetailcover">
    <div id="Armdetailcovertext">
        <div id="Armdetailcover-text">
            {{ arm.Arm }}
        </div>
        <p class="px-2">
            Empowering Women to Excel as Queens
        </p>
    </div>
</div>
<div class="container d-flex flex-column align-items-center">
    <h1 class="mt-2 text-center text-md-start">Welcome to GEM {{ arm.Arm }}</h1>
    <div class="rule d-flex align-items-center justify-content-center mb-4">
        <div class="rule_blue"></div>
        <div class="rule_ash"></div>
    </div>
    <p class="leading_text">Our vision is to raise a nation of women leading with virtue and authority. To see women
        live with character, competence, charisma, confidence, and community. We aim to empower women to excel in all
        spheres of life
    </p>

    <!-- Vision, Mission and Task -->
    <div class="row justify-content-evenly my-5 mt-2 align-items-center">
        <div class="col-md d-flex justify-content-center">
            <img src="{{ arm.picture }}" alt="" class="img-fluid img-thumbnail rounded shadow-sm">
        </div>
        <div class="col-md ps-md-5 d-flex justify-content-center">
            <div class="bg-light p-4 my-3 shadow-sm row justify-content-center align-items-center" style="border-left: 5px solid #290E0E; border-radius: 20px;">
                <div class="col-md d-flex justify-content-center">
                    <img src="{{ Women_event.picture }}" alt="" class="img-fluid w-75 shadow-sm">
                </div>      
                <div class="col-md">
                    <div class="text-center text-md-start mt-2 mt-md-0" style="font-size: 45px;font-weight: 600; margin-bottom: 0;">{{ Women_event.Time }}</div>
                    <div class="text-center text-md-start" class="mb-2">( Est Toronto )</div>
                    <div class="text-center text-md-start"><span class="fw-bold">Zoom id:</span> {{ Women_event.Zoom_ID }}</div>
                    <div class="text-center text-md-start"><span class="fw-bold">Zoom Password:</span> {{ Women_event.Zoom_Password }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="long_rule"></div>

    <div class="row justify-content-evenly my-5 align-items-center">
        <div class="col-md d-flex justify-content-center">
            <div class="bg-light p-4 my-3 shadow-sm" style="border-left: 5px solid #18ADE5; border-radius: 20px;">
                <h3 class="fw-bold"> Task </h3>
                <ul>
                    <li>Bringing clarity to the identity and peculiarities of womanhood.</li>
                    <li>Empowering women to live with character, competence, confidence, and community.</li>
                    <li>Empowering women to excel in every area of their lives.</li>
                    <li>Empowering women to excel in at least one of the seven spheres of society</li>
                </ul>
            </div>
        </div>
        <div class="col-md ms-md-4 d-flex justify-content-center">
            <div class="bg-light p-4 my-3 shadow-sm" style="border-left: 5px solid #10e022; border-radius: 20px;">
                <div>
                    <h3 class="fw-bold"> Goal — Maturity & Excellence in all Spheres

                    </h3>
                    <p>In the 7 spheres of life::
                    </p>
                    <ol>
                        <li>Spirit: Built for intimacy, glory and dominion</li>
                        <li>Soul: Emotional, mental, and will-power development.</li>
                        <li>Body: Health, Fitness, & Beauty.</li>
                        <li>Life-Path: Purpose, vision, mission, goals, career & legacy.</li>
                        <li>Life-Style: Philosophy, Principles, Time Appropriation.</li>
                        <li>Relationship: Family, Social, Professional.</li>
                        <li>Resources: Stewardship, Management, and Finance.</li>
                    </ol>
                    <p>In at least one of the seven spheres of society:
                    </p>
                    <ol>
                        <li>Faith</li>
                        <li>Education, Science & Technology.</li>
                        <li>Hospitality & Healthcare.</li>
                        <li>Government: Politics, Judiciary, & Law Enforcement.</li>
                        <li>Culture & Arts, Music & Entertainment, Media & Sports.</li>
                        <li>Personal Development, Family & Relationship.</li>
                        <li>Economy: Business & Commerce</li>
                    </ol>
                </div>
            </div>
        </div>


    </div>
</div>

<script>
    var armCoverbackground = document.getElementById('Armdetailcover');
    armCoverbackground.style.backgroundImage = 'url("https://gemwebbucket.s3.amazonaws.com/static/images/istockphoto-1333810621-612x612.jpg")'
</script>
{% endblock %}