:root {
    --black: #000;
    --main-bg-color: #ffffff;
    --bg-Deep-Navy-Blue: #010141;
    --bg-dark-Deep-Navy-Blue: #01011B;
    --blue: #18ADE5;
    --btn-primary: #18ADE5;
    --btn-primary2: #010141;
    --main-font-family: "Century Gothic", "League Spartan", sans-serif;
    --secondary-font-family: "League Spartan", sans-serif;
    --display1-text-size: 60px;
    --display1-text-sm-size: 30px;
    --display2-text-size: 24px;
    --display2-text-sm-size: 15px;
    --Sideline-text-size: 15.5px;
    --card-border-radius: 17px;
    --big-card-shadow: 0px 3.50236px 59.5402px -16.6362px rgba(0, 0, 0, 0.25);
}

/* buttons declarations */
.btn-primary {
    color: white;
    background-color: var(--btn-primary);
    outline: none;
    border: none;
}

/* ///////////////////// */

/* text styling */

h1 {
    font-family: 'Century Gothic','Jost',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: min(max(10vw, 35px), 45px);

}


.leading_text {
    max-width: 400px;
    text-align: center;
}

/* /////////////////////////// */

/* Icons styling */
.fa-brands,
.fa-solid,
.fas {
    color: var(--btn-primary);
}

body {
    background-color: var(--main-bg-color);
    font-family: 'League Spartan','Jost',sans-serif;
    color: #010141;
}

body::before {
    display: block;
    content: '';
    height: 53px;
}

@media (max-width: 768px) {
    #body::after {
        display: block;
        content: '';
        height: 50px;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.brand_image {
    width: 80px;
}

main {
    flex: 1;
    padding: 0;
}

#navigation .navbar-nav a.nav-link {
    color: #010141;
    font-weight: 600;
}

/* Hamburger Menu Button */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-bg-color);
    position: fixed;
    top: 67px;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
}


.menu.active {
    left: 0;
    top: 67px;
}

/* The main Menu */

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 11px 22px;
    height: 100%;
    width: 100%;
}

.menu ul li {
    font-weight: 500;
}

.menu ul li a {
    display: block;
    padding: 10px 5px;
    text-decoration: none;
    color: var(--bg-wine-red);
    font-size: 18px;
    font-weight: 600;
}

/* /////////////////////////////// */
/* Sub Menu  */

.menu .sub-menu {
    display: none;
    background-color: var(--main-bg-color);
    min-width: 200px;
    transition: all 0.3s ease-in-out;
}

.menu .sub-menu.active {
    display: block;
    margin-left: -5px;
    min-width: 200px;
}

.menu ul ul li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    color: #000;
    font-size: 17px;
}

/* /////////////////////////////// */
/* hamburger styling */
.hamburger-menu {
    display: block;
    cursor: pointer;
    z-index: 999;
    padding-right: 10px;
}

.bar {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: var(--blue);
    transition: transform 0.2s ease-in-out;
}

.hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* /////////////////////////////// */

.footer {
    background-color: var(--bg-Deep-Navy-Blue);
    color: #fff;
    padding-top: 40px;
}

.footer_link {
    margin-right: 0;
}

.footer_link .nav-link {
    color: #fff;
}

.footer_link h5 {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Century Gothic','Jost',sans-serif;
}

.sub_footer {
    background-color: var(--bg-dark-Deep-Navy-Blue);
    color: #fff;
}

.sub_footer p {
    font-size: 11px;
}

.footer .fa-brands {
    color: var(--main-bg-color);
}

@media (max-width:765px) {
    .footer_link h5 {
        font-size: 18px;
        font-weight: bold;
        font-family: 'Century Gothic','Jost',sans-serif;
    }

    .footer_link li .nav-link {
        font-size: 12px;
        font-weight: bold;
        font-family: 'Century Gothic','League Spartan',sans-serif;
    }

    .sub_footer p {
        font-size: 10px;
    }
}

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 1000;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: #18ADE5;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px 22px;
    /* Some padding */
    border-radius: 50px;
    /* Rounded corners */
    font-size: 20px;
    /* Increase font size */
}

#myBtn:hover {
    background-color: #F8A12D;
    /* Add a dark-grey background on hover */
}


/* hero Section styling */

.Rectangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 68vw;
    height: 100vh;
    z-index: -1;
}

.hero_section {
    position: relative;
}

.Ellipse {
    position: absolute;
    bottom: -50px;
    left: 50px;
}

.hero_section .row {
    position: relative;
    z-index: 1;
}

.hero_text {
    line-height: 6em;
    color: #010141;
    font-weight: 700;
    font-style: normal;
    font-family: 'Century Gothic','Jost',sans-serif;
}

.hero_text .text1 {
    font-size: 75px;
}

.hero_text .text2 {
    font-size: 9.98vw;
}

.hero_text .text3 {
    border: 3px solid rgba(24, 173, 229, 0.38);
    font-size: 74px;
    padding: 15px;
    position: relative;
}

.small_rectangle1 {
    position: absolute;
    top: -13px;
    left: -12px;
    width: 22.73px;
    height: 25px;
    background-color: #010141;
}

.small_rectangle2 {
    position: absolute;
    bottom: -13px;
    right: -12px;
    width: 22.73px;
    height: 25px;
    background-color: #010141;
}

.hero_text_container p {
    color: #010141;
    font-style: normal;
    font-weight: 500;
}

.hero_text_container .btn-primary {
    width: 30%;
    padding: 0.6rem 1.75rem;
    font-size: 1.1rem;
}

.hero_image {
    width: 32.6vw;
    max-width: 500px;
}

/* for Rectangle for Screens below large Screen  */
@media (max-width:992px) {
    .Rectangle {
        width: 80vw;
        height: 100vh;
    }
}

/* //////////////////////////////////////////// */

@media (max-width:765px) {
    .Rectangle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -1;
    }

    .hero_section {
        position: relative;
    }

    .Ellipse {
        position: absolute;
        bottom: -294px;
        left: 42px;
        width: 150px;
    }

    .hero_section .row {
        position: relative;
        z-index: 1;
    }

    .hero_text {
        line-height: 6em;
        color: #010141;
        font-weight: 700;
        font-style: normal;
        font-family: 'Century Gothic','Jost',sans-serif;
    }

    .hero_text .text1 {
        font-size: 75px;
    }

    .hero_text .text2 {
        font-size: 122px;
    }

    .hero_text .text3 {
        border: 3px solid rgba(24, 173, 229, 0.38);
        font-size: 74px;
        padding: 15px;
        position: relative;
    }

    .small_rectangle1 {
        position: absolute;
        top: -13px;
        left: -12px;
        width: 22.73px;
        height: 25px;
        background-color: #010141;
    }

    .small_rectangle2 {
        position: absolute;
        bottom: -13px;
        right: -12px;
        width: 22.73px;
        height: 25px;
        background-color: #010141;
    }

    .hero_text_container p {
        color: #010141;
        font-style: normal;
        font-weight: 500;
    }

    .hero_text_container .btn-primary {
        width: 30%;
        padding: 0.6rem 1.75rem;
        font-size: 1.1rem;
    }

    .hero_image {
        width: 89.6vw;
        max-width: 450.7px;
    }
}

@media (max-width:576px) {
    .Rectangle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -1;
        object-fit: cover;
    }

    .hero_section {
        position: relative;
    }

    .Ellipse {
        display: none;
    }

    .hero_section .row {
        position: relative;
        z-index: 1;
    }

    .hero_text {
        line-height: 17vw;
        color: #010141;
        font-weight: 700;
        font-style: normal;
        font-family: 'Century Gothic','Jost',sans-serif;
    }

    .hero_text .text1 {
        font-size: clamp(15.6vw, 15.6vw, 68px);
    }

    .hero_text .text2 {
        font-size: clamp(19.16vw, 19.16vw, 84px);
    }

    .hero_text .text3 {
        border: 2px solid rgba(24, 173, 229, 0.38);
        font-size: clamp(13.31vw, 13.31vw, 58px);
        padding: 10px;
        position: relative;
    }

    .small_rectangle1 {
        position: absolute;
        top: -9px;
        left: -9px;
        width: 16px;
        height: 16px;
        background-color: #010141;
    }

    .small_rectangle2 {
        position: absolute;
        bottom: -7px;
        right: -9px;
        width: 16px;
        height: 16px;
        background-color: #010141;
    }

    .hero_text_container p {
        color: #010141;
        font-style: normal;
        font-weight: 500;
        /* font-size:  clamp(4.4vw,3vw,17px); */
        font-size: min(max(4.4vw, 15px), 25px);
        margin-top: 15px;
    }

    .hero_text_container .btn-primary {
        width: 44%;
        padding: 0.6rem 1.75rem;
        font-size: 0.9rem;
    }

    .hero_image {
        width: 89.6vw;
        /* clamp(89.6vw, 200px, 960px) */
        max-width: 352.7px;
    }

}

/* ///////////////////////////////// */




/* About Styling */

.rule_blue {
    width: 12vw;
    max-width: 120px;
    height: 8px;
    background: #18ADE5;
}

.rule_ash {
    width: 12vw;
    max-width: 96px;
    height: 8px;
    background: #c2c2c2;
}

.About {
    position: relative;
    margin-top: calc(94.6vw - 282px);
}

@media (min-width:768px) {
    .About {
        position: relative;
        margin-top: 20vw;
    }
}

@media (min-width:992px) {
    .About {
        position: relative;
        margin-top: -5vw;
    }
}

.Shield1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 295px;
}

.About_container {
    position: relative;
    z-index: 100;
}

.about-card {
    position: relative;
    z-index: 1000;
    background-color: #fff;
    width: 100%;
    max-width: 350px;
    box-shadow: -2px 7px 28px 7px rgba(24, 173, 229, 0.1);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_heading {
    font-family: 'Century Gothic','Jost',sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    padding-bottom: 20px;
}

/* ////////////////////////// */

.Arm_container {
    position: relative;
    background-image: url("../images/People_praying.jpg");
    background-position: center;
    background-size: cover;

}

.Arm_container::before {
    content: '';
    position: absolute;
    background-color: var(--bg-Deep-Navy-Blue);
    opacity: 0.7;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.Arm_container-text {
    position: relative;
    color: #fff;
    font-style: normal;
}

/* /////////////////////// */

/* Project */
.Project_card {
    width: 100%;
    max-width: 340px;
    padding: 0;
    border-bottom: 11px solid var(--blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff;
}

.Project_card_img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.Project_card_text {
    padding: 25px;
    padding-bottom: 10px;
    font-size: 15px;
}

.Project_card_button {
    padding: 25px;
    padding-top: 0;
}

/* Articles */
.Articles {
    position: relative;
}

.Ellipse1 {
    position: absolute;
    top: 10px;
    left: 50px;
    width: 180px;
    z-index: -100;
}

.Ellipse2 {
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 180px;
    z-index: -100;
}

.long_rule {
    width: 100vw;
    height: 3px;
    background: #D9D9D9;
}


/* Event */
.Event {
    position: relative;
}

.Shield {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1000;
    width: 82.7vw;
    max-width: 292px;
}

/* ////////////////////////// */

.Executive_container {
    position: relative;
    background-image: url("../images/Team Background.jpg");
    background-position: center;
    background-size: cover;
}

.Executive_container::before {
    content: '';
    position: absolute;
    background-color: var(--bg-Deep-Navy-Blue);
    opacity: 0.9;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.Executive_container-text {
    position: relative;
    color: #fff;
    font-style: normal;
}

.Staff_card {
    width: 100%;
    max-width: 340px;
    padding: 0;
    border-bottom: 11px solid var(--blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    color: var(--bg-Deep-Navy-Blue);
}

.Staff_card_img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.Staff_card_text {
    padding: 25px;
    padding-bottom: 10px;
    font-size: 19px;
    line-height: 19px;
    font-weight: 600;
}

/* Gallery */
.Gallery {
    background-color: var(--bg-Deep-Navy-Blue);
    color: #fff;
}

.Photogallery {
    width: 100%;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: max(1.7vw, 14px);
}


.Photogallery img {
    height: 200px;
    /* set the height of the images */
    width: 100%;
    gap: 20px;
    /* let the width adjust proportionally */
    object-fit: cover;
    /* maintain aspect ratio and crop to fill container */
}

@media (max-width:765px) {
    .Photogallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:565px) {
    .Photogallery {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Contact form */
.Contact {
    position: relative;
}

.Ellipsea {
    position: absolute;
    top: 10px;
    left: 50px;
    width: 180px;

}

.Ellipseb {
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 180px;
}